{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="section about ">
    <div class="container">
        <div class="row">
           <div class="col-12">
               <div class="titlepage">
                <h2><strong class="black">Dokonimiz</strong>haqida</h2>
                <span>Onlayn do'konlar internet orqali xaridlar va sotishlarni amalga 
                    oshirishga imkon beradigan elektron tijorat platformalardir. 
                    Ularning boshlig'i internet orqali har qanday vaqtda, istalgan joyda mijozlarga xizmat ko'rsatishdir. 
                    Ular avtomatlashtirilgan tizimlar orqali amalga oshirilgan va mijozlar tomonidan qulay ko'rib chiqilgan
                    holda to'lovni qabul qilishlari mumkin. Onlayn do'konlar ortiqcha mijozlarga izoh qoldirish, buyurtma 
                    berish va tez yetkazib berish imkoniyatini taklif etishadi. Bu shuningdek, ular mahsulotlar va xizmatlar
                    bo'yicha qidiruv va tanlash imkoniyatlarini ham taqdim etishadi. Shundaylikcha, onlayn do'konlar mahsulotlarni 
                    internet orqali sotish, mijozlarni qutqarish va ular bilan aloqada bo'lish uchun qulay va samarali usullar bilan ta'minlaydi.</span>
             </div>
           </div>
        </div>
    </div>
 </div>
 
{% endblock %}